
/* Color Theme Swatches in Hex */
.Illustration-1-hex { color: #833E8C; }
.Illustration-2-hex { color: #0A3B59; }
.Illustration-3-hex { color: #50BF80; }
.Illustration-4-hex { color: #4AD97C; }
.Illustration-5-hex { color: #F28F79; }

/* Color Theme Swatches in RGBA */
.Illustration-1-rgba { color: rgba(131, 61, 140, 1); }
.Illustration-2-rgba { color: rgba(9, 58, 89, 1); }
.Illustration-3-rgba { color: rgba(80, 191, 128, 1); }
.Illustration-4-rgba { color: rgba(73, 216, 123, 1); }
.Illustration-5-rgba { color: rgba(242, 143, 121, 1); }

/* Color Theme Swatches in HSLA */
.Illustration-1-hsla { color: hsla(292, 38, 39, 1); }
.Illustration-2-hsla { color: hsla(202, 80, 19, 1); }
.Illustration-3-hsla { color: hsla(146, 46, 53, 1); }
.Illustration-4-hsla { color: hsla(140, 65, 56, 1); }
.Illustration-5-hsla { color: hsla(11, 82, 71, 1); }


/* Color Theme Swatches in Hex */
.French-Expressions-For-Babbel-Magazine-1-hex { color: #F288B9; }
.French-Expressions-For-Babbel-Magazine-2-hex { color: #A0C9D9; }
.French-Expressions-For-Babbel-Magazine-3-hex { color: #4ED97F; }
.French-Expressions-For-Babbel-Magazine-4-hex { color: #F2BF27; }
.French-Expressions-For-Babbel-Magazine-5-hex { color: #F2A922; }

/* Color Theme Swatches in RGBA */
.French-Expressions-For-Babbel-Magazine-1-rgba { color: rgba(242, 135, 185, 1); }
.French-Expressions-For-Babbel-Magazine-2-rgba { color: rgba(160, 200, 216, 1); }
.French-Expressions-For-Babbel-Magazine-3-rgba { color: rgba(78, 216, 126, 1); }
.French-Expressions-For-Babbel-Magazine-4-rgba { color: rgba(242, 191, 38, 1); }
.French-Expressions-For-Babbel-Magazine-5-rgba { color: rgba(242, 169, 33, 1); }

/* Color Theme Swatches in HSLA */
.French-Expressions-For-Babbel-Magazine-1-hsla { color: hsla(331, 80, 74, 1); }
.French-Expressions-For-Babbel-Magazine-2-hsla { color: hsla(196, 42, 73, 1); }
.French-Expressions-For-Babbel-Magazine-3-hsla { color: hsla(140, 64, 57, 1); }
.French-Expressions-For-Babbel-Magazine-4-hsla { color: hsla(45, 88, 55, 1); }
.French-Expressions-For-Babbel-Magazine-5-hsla { color: hsla(39, 89, 54, 1); }


/* Color Theme Swatches in Hex */
.Adobe-Creative-Cloud-1-hex { color: #0339A6; }
.Adobe-Creative-Cloud-2-hex { color: #0367A6; }
.Adobe-Creative-Cloud-3-hex { color: #048ABF; }
.Adobe-Creative-Cloud-4-hex { color: #F2BC57; }
.Adobe-Creative-Cloud-5-hex { color: #F25244; }

/* Color Theme Swatches in RGBA */
.Adobe-Creative-Cloud-1-rgba { color: rgba(3, 57, 165, 1); }
.Adobe-Creative-Cloud-2-rgba { color: rgba(3, 103, 165, 1); }
.Adobe-Creative-Cloud-3-rgba { color: rgba(3, 138, 191, 1); }
.Adobe-Creative-Cloud-4-rgba { color: rgba(242, 187, 87, 1); }
.Adobe-Creative-Cloud-5-rgba { color: rgba(242, 82, 67, 1); }

/* Color Theme Swatches in HSLA */
.Adobe-Creative-Cloud-1-hsla { color: hsla(219, 96, 33, 1); }
.Adobe-Creative-Cloud-2-hsla { color: hsla(202, 96, 33, 1); }
.Adobe-Creative-Cloud-3-hsla { color: hsla(196, 96, 38, 1); }
.Adobe-Creative-Cloud-4-hsla { color: hsla(39, 85, 64, 1); }
.Adobe-Creative-Cloud-5-hsla { color: hsla(5, 87, 60, 1); }


/* Color Theme Swatches in Hex */
.Oikon-Hospitality---Website-1-hex { color: #2731F2; }
.Oikon-Hospitality---Website-2-hex { color: #2947F2; }
.Oikon-Hospitality---Website-3-hex { color: #F2E74B; }
.Oikon-Hospitality---Website-4-hex { color: #F2D64B; }
.Oikon-Hospitality---Website-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Oikon-Hospitality---Website-1-rgba { color: rgba(38, 48, 242, 1); }
.Oikon-Hospitality---Website-2-rgba { color: rgba(41, 71, 242, 1); }
.Oikon-Hospitality---Website-3-rgba { color: rgba(242, 231, 75, 1); }
.Oikon-Hospitality---Website-4-rgba { color: rgba(242, 214, 75, 1); }
.Oikon-Hospitality---Website-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
.Oikon-Hospitality---Website-1-hsla { color: hsla(236, 88, 55, 1); }
.Oikon-Hospitality---Website-2-hsla { color: hsla(230, 88, 55, 1); }
.Oikon-Hospitality---Website-3-hsla { color: hsla(56, 86, 62, 1); }
.Oikon-Hospitality---Website-4-hsla { color: hsla(50, 86, 62, 1); }
.Oikon-Hospitality---Website-5-hsla { color: hsla(0, 0, 5, 1); }


/* Color Theme Swatches in Hex */
.Common-Project-—-Minimalistic-online-store-1-hex { color: #A6A6A6; }
.Common-Project-—-Minimalistic-online-store-2-hex { color: #8C8C8C; }
.Common-Project-—-Minimalistic-online-store-3-hex { color: #F2F2F2; }
.Common-Project-—-Minimalistic-online-store-4-hex { color: #D9D9D9; }
.Common-Project-—-Minimalistic-online-store-5-hex { color: #262626; }

/* Color Theme Swatches in RGBA */
.Common-Project-—-Minimalistic-online-store-1-rgba { color: rgba(165, 165, 165, 1); }
.Common-Project-—-Minimalistic-online-store-2-rgba { color: rgba(140, 140, 140, 1); }
.Common-Project-—-Minimalistic-online-store-3-rgba { color: rgba(242, 242, 242, 1); }
.Common-Project-—-Minimalistic-online-store-4-rgba { color: rgba(216, 216, 216, 1); }
.Common-Project-—-Minimalistic-online-store-5-rgba { color: rgba(38, 38, 38, 1); }

/* Color Theme Swatches in HSLA */
.Common-Project-—-Minimalistic-online-store-1-hsla { color: hsla(0, 0, 65, 1); }
.Common-Project-—-Minimalistic-online-store-2-hsla { color: hsla(0, 0, 55, 1); }
.Common-Project-—-Minimalistic-online-store-3-hsla { color: hsla(0, 0, 95, 1); }
.Common-Project-—-Minimalistic-online-store-4-hsla { color: hsla(0, 0, 85, 1); }
.Common-Project-—-Minimalistic-online-store-5-hsla { color: hsla(0, 0, 15, 1); }


/* Color Theme Swatches in Hex */
.Animal-App-1-hex { color: #F29BAB; }
.Animal-App-2-hex { color: #6D3BD9; }
.Animal-App-3-hex { color: #4A88D9; }
.Animal-App-4-hex { color: #F2C438; }
.Animal-App-5-hex { color: #F25835; }

/* Color Theme Swatches in RGBA */
.Animal-App-1-rgba { color: rgba(242, 155, 171, 1); }
.Animal-App-2-rgba { color: rgba(108, 58, 216, 1); }
.Animal-App-3-rgba { color: rgba(73, 135, 216, 1); }
.Animal-App-4-rgba { color: rgba(242, 195, 55, 1); }
.Animal-App-5-rgba { color: rgba(242, 87, 53, 1); }

/* Color Theme Swatches in HSLA */
.Animal-App-1-hsla { color: hsla(348, 77, 77, 1); }
.Animal-App-2-hsla { color: hsla(258, 67, 53, 1); }
.Animal-App-3-hsla { color: hsla(213, 65, 56, 1); }
.Animal-App-4-hsla { color: hsla(44, 87, 58, 1); }
.Animal-App-5-hsla { color: hsla(11, 88, 57, 1); }


/* Color Theme Swatches in Hex */
.Pristine-App-1-hex { color: #0476D9; }
.Pristine-App-2-hex { color: #148DD9; }
.Pristine-App-3-hex { color: #13F28A; }
.Pristine-App-4-hex { color: #19A614; }
.Pristine-App-5-hex { color: #F2F2F2; }

/* Color Theme Swatches in RGBA */
.Pristine-App-1-rgba { color: rgba(4, 117, 216, 1); }
.Pristine-App-2-rgba { color: rgba(19, 141, 216, 1); }
.Pristine-App-3-rgba { color: rgba(19, 242, 138, 1); }
.Pristine-App-4-rgba { color: rgba(24, 165, 19, 1); }
.Pristine-App-5-rgba { color: rgba(242, 242, 242, 1); }

/* Color Theme Swatches in HSLA */
.Pristine-App-1-hsla { color: hsla(208, 96, 43, 1); }
.Pristine-App-2-hsla { color: hsla(202, 83, 46, 1); }
.Pristine-App-3-hsla { color: hsla(151, 89, 51, 1); }
.Pristine-App-4-hsla { color: hsla(118, 78, 36, 1); }
.Pristine-App-5-hsla { color: hsla(0, 0, 95, 1); }


/* Color Theme Swatches in Hex */
.Block-Estates---iPhone-App-for-Renting-1-hex { color: #0F5FA6; }
.Block-Estates---iPhone-App-for-Renting-2-hex { color: #1BA0F2; }
.Block-Estates---iPhone-App-for-Renting-3-hex { color: #85C8F2; }
.Block-Estates---iPhone-App-for-Renting-4-hex { color: #F2811D; }
.Block-Estates---iPhone-App-for-Renting-5-hex { color: #F26666; }

/* Color Theme Swatches in RGBA */
.Block-Estates---iPhone-App-for-Renting-1-rgba { color: rgba(14, 95, 165, 1); }
.Block-Estates---iPhone-App-for-Renting-2-rgba { color: rgba(26, 159, 242, 1); }
.Block-Estates---iPhone-App-for-Renting-3-rgba { color: rgba(133, 200, 242, 1); }
.Block-Estates---iPhone-App-for-Renting-4-rgba { color: rgba(242, 128, 29, 1); }
.Block-Estates---iPhone-App-for-Renting-5-rgba { color: rgba(242, 101, 101, 1); }

/* Color Theme Swatches in HSLA */
.Block-Estates---iPhone-App-for-Renting-1-hsla { color: hsla(208, 83, 35, 1); }
.Block-Estates---iPhone-App-for-Renting-2-hsla { color: hsla(202, 89, 52, 1); }
.Block-Estates---iPhone-App-for-Renting-3-hsla { color: hsla(202, 81, 73, 1); }
.Block-Estates---iPhone-App-for-Renting-4-hsla { color: hsla(28, 89, 53, 1); }
.Block-Estates---iPhone-App-for-Renting-5-hsla { color: hsla(0, 84, 67, 1); }

/* Color Theme Swatches in Hex */
.Disney-Toy-Story-icons-1-hex { color: #8A0FBF; }
.Disney-Toy-Story-icons-2-hex { color: #22A2F2; }
.Disney-Toy-Story-icons-3-hex { color: #22B7F2; }
.Disney-Toy-Story-icons-4-hex { color: #41D2F2; }
.Disney-Toy-Story-icons-5-hex { color: #4DBF49; }

/* Color Theme Swatches in RGBA */
.Disney-Toy-Story-icons-1-rgba { color: rgba(138, 15, 191, 1); }
.Disney-Toy-Story-icons-2-rgba { color: rgba(33, 162, 242, 1); }
.Disney-Toy-Story-icons-3-rgba { color: rgba(33, 183, 242, 1); }
.Disney-Toy-Story-icons-4-rgba { color: rgba(65, 209, 242, 1); }
.Disney-Toy-Story-icons-5-rgba { color: rgba(76, 191, 72, 1); }

/* Color Theme Swatches in HSLA */
.Disney-Toy-Story-icons-1-hsla { color: hsla(281, 85, 40, 1); }
.Disney-Toy-Story-icons-2-hsla { color: hsla(202, 89, 54, 1); }
.Disney-Toy-Story-icons-3-hsla { color: hsla(196, 89, 54, 1); }
.Disney-Toy-Story-icons-4-hsla { color: hsla(191, 87, 60, 1); }
.Disney-Toy-Story-icons-5-hsla { color: hsla(118, 48, 51, 1); }
