
/* Color Theme Swatches in Hex */
.Illustration-1-hex { color: #833E8C; }
.Illustration-2-hex { color: #0A3B59; }
.Illustration-3-hex { color: #50BF80; }
.Illustration-4-hex { color: #4AD97C; }
.Illustration-5-hex { color: #F28F79; }

/* Color Theme Swatches in RGBA */
.Illustration-1-rgba { color: rgba(131, 61, 140, 1); }
.Illustration-2-rgba { color: rgba(9, 58, 89, 1); }
.Illustration-3-rgba { color: rgba(80, 191, 128, 1); }
.Illustration-4-rgba { color: rgba(73, 216, 123, 1); }
.Illustration-5-rgba { color: rgba(242, 143, 121, 1); }

/* Color Theme Swatches in HSLA */
.Illustration-1-hsla { color: hsla(292, 38, 39, 1); }
.Illustration-2-hsla { color: hsla(202, 80, 19, 1); }
.Illustration-3-hsla { color: hsla(146, 46, 53, 1); }
.Illustration-4-hsla { color: hsla(140, 65, 56, 1); }
.Illustration-5-hsla { color: hsla(11, 82, 71, 1); }


/* Color Theme Swatches in Hex */
.French-Expressions-For-Babbel-Magazine-1-hex { color: #F288B9; }
.French-Expressions-For-Babbel-Magazine-2-hex { color: #A0C9D9; }
.French-Expressions-For-Babbel-Magazine-3-hex { color: #4ED97F; }
.French-Expressions-For-Babbel-Magazine-4-hex { color: #F2BF27; }
.French-Expressions-For-Babbel-Magazine-5-hex { color: #F2A922; }

/* Color Theme Swatches in RGBA */
.French-Expressions-For-Babbel-Magazine-1-rgba { color: rgba(242, 135, 185, 1); }
.French-Expressions-For-Babbel-Magazine-2-rgba { color: rgba(160, 200, 216, 1); }
.French-Expressions-For-Babbel-Magazine-3-rgba { color: rgba(78, 216, 126, 1); }
.French-Expressions-For-Babbel-Magazine-4-rgba { color: rgba(242, 191, 38, 1); }
.French-Expressions-For-Babbel-Magazine-5-rgba { color: rgba(242, 169, 33, 1); }

/* Color Theme Swatches in HSLA */
.French-Expressions-For-Babbel-Magazine-1-hsla { color: hsla(331, 80, 74, 1); }
.French-Expressions-For-Babbel-Magazine-2-hsla { color: hsla(196, 42, 73, 1); }
.French-Expressions-For-Babbel-Magazine-3-hsla { color: hsla(140, 64, 57, 1); }
.French-Expressions-For-Babbel-Magazine-4-hsla { color: hsla(45, 88, 55, 1); }
.French-Expressions-For-Babbel-Magazine-5-hsla { color: hsla(39, 89, 54, 1); }


/* Color Theme Swatches in Hex */
.Adobe-Creative-Cloud-1-hex { color: #0339A6; }
.Adobe-Creative-Cloud-2-hex { color: #0367A6; }
.Adobe-Creative-Cloud-3-hex { color: #048ABF; }
.Adobe-Creative-Cloud-4-hex { color: #F2BC57; }
.Adobe-Creative-Cloud-5-hex { color: #F25244; }

/* Color Theme Swatches in RGBA */
.Adobe-Creative-Cloud-1-rgba { color: rgba(3, 57, 165, 1); }
.Adobe-Creative-Cloud-2-rgba { color: rgba(3, 103, 165, 1); }
.Adobe-Creative-Cloud-3-rgba { color: rgba(3, 138, 191, 1); }
.Adobe-Creative-Cloud-4-rgba { color: rgba(242, 187, 87, 1); }
.Adobe-Creative-Cloud-5-rgba { color: rgba(242, 82, 67, 1); }

/* Color Theme Swatches in HSLA */
.Adobe-Creative-Cloud-1-hsla { color: hsla(219, 96, 33, 1); }
.Adobe-Creative-Cloud-2-hsla { color: hsla(202, 96, 33, 1); }
.Adobe-Creative-Cloud-3-hsla { color: hsla(196, 96, 38, 1); }
.Adobe-Creative-Cloud-4-hsla { color: hsla(39, 85, 64, 1); }
.Adobe-Creative-Cloud-5-hsla { color: hsla(5, 87, 60, 1); }